<footer>
    <link rel="stylesheet" href="script.js" />
    <link rel="stylesheet" href="styles.css" />
    <script defer src="script.js"></script>
<hr>
    <a class="pages-about" href="index">Home</a>
    <a class="pages-about" target="_blank" href="about.html">About us</a>
    <a class="pages-about" target="_blank" href="contactUs.html">Contact us</a>
    <a class="pages-about" id="color" >Change color</a>
    <a class="pages-about" id="big-size">Size</a>
    <a class="pages-about" href="Calculator.html">Calculator</a>

<div id="clockStyle">
    <p> Copyright 2022, All rights reserved | Cooking Recipes</p>
    <h5> Prepared by Alaa Altjar </h5>

    <div>

    <div id="clockDisplay"></div>

     </div>
    </div>
    </footer>
