<header>

    <h1 class="topic">DELICIOUS &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; COOKING</h1>
      
      <div class="logo">
        <img width="80"src="images/logo.jpg" alt="logo"/>
      </div>

    <nav>
      <ul class="pages-header">
        <a class="links-header" href="index">Home</a>
        <a target="_blank" class="links-header" href="about.html">About us</a>
        <a target="_blank" class="links-header" href="contactUs.html">Contact us</a>
        <a target="_blank" class="links-header" href="OurAchievements.html">Our Achievements</a>
        <a target="_blank" class="links-header" href="register.html">Register</a>

      </ul>
    </nav>

  </header>
      
  