<!DOCTYPE html >

<html class="allpag">
<head>
    <link rel="stylesheet" href="script.js"/>
    <link rel="stylesheet" href="styles.css"/>
    <script defer src="script.js"></script>
    <title>About US</title>
</head>

<body id="body-page">
    <!-- header -->
    <%- include('./partials/header'); %>

<section class="Textabout">
    <article>
        <h1 class="pages-about">About us</h1>

        <div class="summary-about">
            <p >Hi! We're Team Cooking . When you visit our corner of the internet, we want you to feel comfortable.
                <br>Like did we just become best friends?! kind of comfortable. We're not here to shame you into making
                beef <br>bourguignon when all you really want is Fireball meatballs. And if you do attempt that
                fancy-shmancy dish and<br> fail spectacularly.
            </p>


            <p> That's not to say we're not serious about food. If you've come here to finally tackle an exasperatingly
                <br> intense sourdough recipe, we can help explain the technique, step by step. We celebrate anyone
                <br>who really loves to eat as much as those who actually get in the kitchen to cook. So wherever you
                <br>fall
                on that spectrum,you'll find your people here.
            </p>
        </div>
    </article>
    </section>



  <!-- footer -->
<%- include(`./partials/footer`); %> 

</body>
</html>