<!DOCTYPE html>
<html  class="allpag">
<head>
  <title>Register</title>
  <link rel="stylesheet" href="script.js"/>
  <link rel="stylesheet" href="styles.css"/>
  <script defer src="script.js"></script>
 

</head>

<body id="body-page">

  <!-- header -->
  <%- include('./partials/header'); %>

<div class="form-reg">
  <div class="container-reg">
      <form class="form-reg" id="login">
          <h1 class="form-title-reg">Login</h1>
          <div class="form__message form__message--error"></div>
          <div class="form__input-group">
              <input type="text" class="form__input" autofocus placeholder="Username or email">
              <div class="form__input-error-message"></div>
          </div>
          <div class="form__input-group">
              <input type="password" class="form__input" autofocus placeholder="Password">
              <div class="form__input-error-message"></div>
          </div>
          <button class="form__button" type="submit">Continue</button>
          <p class="form-text-reg">
              <a href="#" class="form__link">Forgot your password?</a>
          </p>
          <p class="form-text-reg">
              <a class="form__link" href="./" id="linkCreateAccount">Don't have an account? Create account</a>
          </p>
      </form>

      <form class="form form--hidden" id="createAccount">
          <h1 class="form-title-reg">Create Account</h1>
          <div class="form__message form__message--error"></div>
          <div class="form__input-group">
              <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username">
              <div class="form__input-error-message"></div>
          </div>
          <div class="form__input-group">
              <input type="text" class="form__input" autofocus placeholder="Email Address">
              <div class="form__input-error-message"></div>
          </div>
          <div class="form__input-group">
              <input type="password" class="form__input" autofocus placeholder="Password">
              <div class="form__input-error-message"></div>
          </div>
          <div class="form__input-group">
              <input type="password" class="form__input" autofocus placeholder="Confirm password">
              <div class="form__input-error-message"></div>
          </div>
          <button class="form__button" type="submit">Continue</button>
          <p class="form-text-reg">
              <a class="form__link" href="./" id="linkLogin">Already have an account? Sign in</a>
          </p>
      </form>
  </div>
</div>
</body>


<!-- footer -->
<%- include(`./partials/footer`); %> 
</html>

