h1 {
     color: red;
     font: size 20px;
}

h4 :hover {
     color: blue;
     font: size 20px;
}

/* html {
  background-color: gold;
}*/

.my-li {
  color: red;
  font: size 20px;
}

.my-em {
     font-size: 2em;
}


footer nav ul li {
    display: inline;
}

table {
    border: 2px solid #253;
    width: 200px;
    text-align: center;
    border-collapse:collapse;
}

tr,td,th {
   border: 2px solid rgb(233, 7, 7);
   padding: 10px;
}
